<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Couscous! Put your documentation in a website!</title>
    <meta name="description" content="Couscous! Put your documentation in a website!">

    <link href="{{ baseUrl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ baseUrl }}/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ baseUrl }}/css/prettify.tomorrow-night-eighties.css" rel="stylesheet">
    <link href="{{ baseUrl }}/css/all.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="logo/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="logo/favicon-16x16.png" sizes="16x16" />

    <!-- Google webmasters verification -->
    <meta name="google-site-verification" content="bjh41nmytWyBkuM8373PL1j6upqoiAQXSb19vMGJZDY" />

</head>

<body class="{{ bodyClass }}">

    <div id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ baseUrl }}/" class="navbar-brand">Couscous</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ baseUrl }}/">Home</a></li>
                    <li><a href="{{ baseUrl }}/docs/getting-started.html">Get started</a></li>
                    <li><a href="{{ baseUrl }}/templates.html">Templates</a></li>
                    <li><a href="{{ baseUrl }}/docs/">Documentation</a></li>
                    <li>
                        <a href="https://github.com/CouscousPHP/Couscous">
                            <i class="fa fa-github"></i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}

        <div class="container">
            <div class="row">

                <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                    <ul class="nav nav-pills nav-stacked">
                        {% for itemId, item in menu.items %}
                            <li class="{{ itemId == current_menu ? 'active' }}">
                                <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                    {{ item.text|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </nav>

                <section class="documentation col-sm-offset-3 col-lg-offset-3 col-sm-9 col-lg-9">
                    {{ content|raw }}
                </section>

            </div>
        </div>

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="container">
                <p>
                    <a href="https://github.com/CouscousPHP/Couscous/blob/master/{{ currentFile }}">
                        Edit this page on GitHub
                    </a>
                </p>
            </div>
        </footer>
    {% endblock %}


    {% block javascripts %}

        <script src="{{ baseUrl }}/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ baseUrl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ baseUrl }}/bower_components/google-code-prettify/src/prettify.js"></script>

        <script>
            $(function() {
                $("section h1").wrap('<div class="page-header" />');
                $("pre").addClass('prettyprint');
                prettyPrint();
            });
        </script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://mnapoli.piwikpro.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="https://mnapoli.piwikpro.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endblock %}

</body>
</html>
